$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Bungee');

body {
  background-image: url('./nozamalogo.png');
  background-repeat: no-repeat;
  background-position: 0 75px;
  background-size: 100%;
}

footer {
  background-color: grey;
  bottom: 0;
  color: white;
  height: 20px;
  left: 0;
  margin-top: 10px;
  opacity: 0.9;
  padding-top: 1px;
  position: fixed;
  text-align: center;
  width: 100%;
}

h3 {
  color: #dfdfdf;
}

.navbar {
  opacity: 0.9;
  background-color: #146eb4;
}

.view2 {
  display: none;
}

.modal-open {
  overflow: scroll;
}

.menu {
  background-color: grey;
  border: 1px solid white;
  color: white;
  float: right;
  margin-left: 5px;
  margin-top: 10px;
}

.content-button {
  background-color: grey;
  border: 1px solid white;
  color: white;
  float: right;
  margin-left: 5px;
  margin-top: 15px;
}

.settings1 {
  background-color: #4e4e4e;
  border: 5px solid grey;
  margin-bottom: 30px;
  margin-left: 5%;
  width: 90%;
}

.settings2 {
  background-color: #4e4e4e;
}

.settings3 {
  background-color: #dfdfdf;
}

#menu-title {
  display: inline;
  color: #000;
  font-family: 'Bungee', cursive;
  font-size: 50px;
}

#sub-menu-title {
  display: inline;
  color: #f90;
  font-family: 'Bungee', cursive;
  font-size: 25px;
}
